
  <ul>
    <li *ngFor="let pokemon of pokemons">
      <div class=" relative rounded mb-16 shadow block w-72 border-2 border-amber-300 px-5 pt-5 pb-5 ">
        <div *ngIf="userService.checkIfUserHasPokemon(pokemon.name)">
          <img src="assets/icon.png" alt="error" class=" h-10 w-10 absolute top-4 right-4 "/>
        </div>
        <div class="pl-16 justify-center ">
          <div class="text-center pr-20">
            {{pokemon.name}}
          </div>
          <img class="border-2 bg-gray-400 bg-opacity-70 rounded-2xl" src="{{pokemon.url}}">
          <div class="pl-2.5">
              <app-favorite-button [pokemonName]="pokemon.name"></app-favorite-button>
          </div>
        </div>

      </div>
    </li>
  </ul>






