<div class="flex justify-between">
  <div class="flex justify-start">
    <h1 class=" font-semibold p-4 text-3xl  "> Pokémon Trainer</h1>
  </div>
  <ng-container *ngIf="user !== undefined">
    <div class="flex justify-end">
      <div class="px-5 pt-5">
        <a routerLink="/trainer" class="px-10  rounded-2xl pt-2 mt-5 pb-2
        bg-red-500 bg-opacity-90 hover:bg-red-600
        rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-15"> Profile</a>
      </div>
      <div class="px-5 pt-5">
        <a routerLink="/catalogue" class="px-7  rounded-2xl pt-2 mt-5 pb-2
        bg-red-500 bg-opacity-90 hover:bg-red-600
        rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-15"> Catalogue</a>
      </div>
    </div>
  </ng-container>
</div>
