<h2 class="mt-6 mb-7  text-xl opacity-90"> Collected Pokémons: </h2>
<ul>
  <li *ngFor="let pokemon of pokemons">
    <div *ngIf="userService.checkIfUserHasPokemon(pokemon.name)">
      <div class=" relative rounded mb-16 shadow block w-72 border-2 border-amber-300 px-5 pt-5 pb-5 ">

       <div class="pl-16 justify-center">
         <div class="text-center pr-20">
         {{pokemon.name}}
         <img class="border-2 bg-gray-400 bg-opacity-70 rounded-2xl" src="{{pokemon.url}}">
         <div class="pl-1.5">
           <div class="">
             <app-remove-button [pokemonName]="pokemon.name"></app-remove-button>
           </div>
         </div>
       </div>
       </div>

      </div>

    </div>
  </li>
</ul>
