

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset>
        <label for="username"
               class="block text-white drop-shadow-sm font-medium font-sans text-2xl ">
          Username:
        </label>

        <input
               ngModel
               minlength="3"
               maxlength="20"
               #username="ngModel"
               required="true"
               type="text"
               name="username"
               id="username"
               class="border border-gray-500 text-gray-800
           rounded-lg p-2 w-full">

      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert">

        <div *ngIf="username.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="username.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
      </div>

    </fieldset>

  <ng-template [ngIf]="username.errors?.['required' || 'minlength'] === null" >
    <button type="submit"
            class="bg-yellow-400 hover:bg-yellow-500 mt-2
          text-gray-600 font-medium py-2 px-4 rounded-lg text-gray-50">
      Login
    </button>
  </ng-template>

  <ng-template [ngIf]="username.errors?.['required' || 'minlength'] !== null">
    <button type="submit"
            class="bg-yellow-400 hover:bg-yellow-500 mt-2 opacity-60
          text-gray-600 font-medium py-2 px-4 rounded-lg text-gray-50 cursor-not-allowed" disabled>
      Login
    </button>
  </ng-template>




  </form>



